/* RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

/* BODY */
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    background: linear-gradient(135deg, #0d47a1, #1565c0);
}

/* FORM CARD */
form {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);

    padding: 40px;
    border-radius: 20px;
    width: 320px;

    text-align: center;

    box-shadow: 0 10px 30px rgba(0,0,0,0.3);
    border: 1px solid rgba(255,255,255,0.2);
}

/* TITLE */
form h2 {
    color: #ffffff;
    margin-bottom: 20px;
}

/* INPUTS */
form input {
    width: 100%;
    padding: 12px;
    margin: 10px 0;

    border: none;
    border-radius: 8px;

    outline: none;

    background: rgba(255,255,255,0.2);
    color: #fff;
}

form input::placeholder {
    color: #d6e4ff;
}

/* BUTTON */
form button {
    width: 100%;
    padding: 12px;
    margin-top: 15px;

    border: none;
    border-radius: 8px;

    background: linear-gradient(135deg, #f4d35e, #ffb703);
    color: #000;
    font-weight: bold;

    cursor: pointer;
    transition: 0.3s;
}

form button:hover {
    transform: scale(1.05);
}

/* REGISTER LINK BUTTON */
.register-btn {
    position: absolute;
    bottom: 40px;

    padding: 10px 20px;
    border-radius: 8px;

    background: rgba(255,255,255,0.15);
    color: #fff;

    text-decoration: none;
    font-weight: bold;

    transition: 0.3s;
}

.register-btn:hover {
    background: rgba(255,255,255,0.3);
}